<!-- views/pages/orders.ejs -->
<!-- The orders page for coupons will have search/list/add/delete/update UI here -->
<!DOCTYPE html>
<html lang="en">

<!-- User head in partials/index.ejs -->
<head>
  <% include ../partials/head %>
</head>

<body>

  <!-- User header in partials/header.ejs -->
  <header>
    <% include ../partials/header %>
  </header>

  <!-- Main body -->
  <main  class="container">
    <div class="jumbotron orderTitle">
      <h1>Orders</h1>
      <h4>Have found below orders!</h4>
    </div>

    <div class="orderList">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success" id="orderList-title">
          <h4> CouponID </h4>
          <h4> Rebated </h4>
          <h4> Rebate Value </h4>

          <br>
          <h5> Order Value </h5>
          <h5> OrderID </h5>
          <h5> UpdateAt</h5>

          <br>
          <h4><span class='glyphicon glyphicon-import'></span> SalesCode </h4>
          <h4> Rebated </h4>
          <h4> RebateValue </h4>
        </li>


        <!-- List All Orders -->
        <li class="list-group-item">
          <a href="/views/coupons/<%=  OrderList.couponID %>"'><h4><%= OrderList.couponID %></h4></a>
          <h4><%= OrderList.rebated %></h4>
          <h4><%= OrderList.rebateValue %></h4>
          <br>
          <h5><%= OrderList.orderValue.original %> <span class="glyphicon glyphicon glyphicon-arrow-right"></span> <%= OrderList.orderValue.final %></h5>
          <h5><%= OrderList.orderID %></h5>
          <h5><%= OrderList.updatedAt %></h5>
          <br>
          <% if (OrderList.salesRef) { %>
            <a href="/views/coupons/<%=  OrderList.salesRef.salesCode  %>"'><h4><span class='glyphicon glyphicon-import'></span> <%= OrderList.salesRef.salesCode  %></h4></a>
            <h4><%= OrderList.salesRef.rebated %></h4>
            <h4><%= OrderList.salesRef.rebateValue %></h4>
            <% } %>
          </li>
        </ul>

      </div>

    </main>
    <!-- User footer in partials/footer.ejs -->
    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
  </html>
